.messages_area {
  height: 560px;
  overflow-y: scroll;
  background-color: #fffcfc;
  margin-bottom: 10px;
}

.send_button{
  margin-top: 2px;
}

.message_box {
  margin: 20px 30px 20px 30px;
  max-width: 450px;
  padding: 10px;
}

.message_box_you {
  background-color: #eff2ef;
}

.message_box_other {
  background-color: #badde0;
  float: right;
}

.clear {
  clear: both;
}